<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Eğitimlerim</a>
            <a href="#pigraExperience" class="nav-item nav-link"><span class="fa fa-blog"></span> Deneyimlerim</a>
            <a href="#pigraInternship" class="nav-item nav-link"><span class="fab fa-weibo"></span> Stajlarım</a>
            <a href="#pigraSkill" class="nav-item nav-link"><span class="fab fa-quora"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-patreon"></span> Hizmetlerim</a>
            <a href="#pigraPortfolio" class="nav-item nav-link"><span class="fab fa-researchgate"></span> Portfolio</a>
            <a href="#pigraTestimonial" class="nav-item nav-link"><span class="fab fa-envira"></span> Referans</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fab fa-vk"></span> Bana Ulaşın</a>
        </div>
    </nav>
</div>
